<h2>Add New Additional Service</h2>
<form
  #additionalServiceAddForm="ngForm"
  (ngSubmit)="add(additionalServiceAddForm)"
>
  <div class="form-group m-2">
    <input
      type="text"
      placeholder="additional"
      #additional="ngModel"
      [(ngModel)]="additionalService.additional"
      class="form-control"
      name="additional"
      id="additional"
      required
    />
    <div
      class="alert alert-danger"
      *ngIf="additional.invalid && additional.dirty"
    >
      can't be left blank
    </div>
  </div>
  <div class="form-group m-2">
    <input
      type="text"
      placeholder="daily price"
      #dailyPrice="ngModel"
      [(ngModel)]="additionalService.dailyPrice"
      class="form-control"
      name="dailyPrice"
      id="dailyPrice"
      required
    />
    <div
      class="alert alert-danger"
      *ngIf="dailyPrice.invalid && dailyPrice.dirty"
    >
      can't be left blank!
    </div>
  </div>
  <div class="form-group m-2">
    <input
      type="text"
      placeholder="description"
      #description="ngModel"
      [(ngModel)]="additionalService.description"
      class="form-control"
      name="description"
      id="description"
      required
    />
    <div
      class="alert alert-danger"
      *ngIf="description.invalid && description.dirty"
    >
      can't be left blank!
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="additionalServiceAddForm.invalid"
  >
    Add additional service
  </button>
</form>
